.display-section {
  width: 100%;
  height: 300px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000001a;
  text-align: center;
  transition: all .1s ease-in;
  overflow: hidden;
  text-decoration: none;
  color: #444;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.display-section:hover {
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-info {
  font-size: 25px;
}

.weather-icon {
  padding-right: 20px;
  height: 100px;
  margin-left: -20px;
}

.weather-description {
}

.temperature {
  flex: 2 0 auto;
}

.text-temperature {
  font-size: 90px;
}

.location {
  padding-top: 20px;
}

.text-location {
  font-size: 40px;
}

.text-message {
  margin: auto;
  font-size: 30px;
}