* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, rgb(120, 120, 200) 0%, #ffffff 100%);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0; 
}

#root {
  height: 100vh;
}